.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    bottom: 5rem;
    width: 100%;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footer-link {
    cursor: pointer;
}

.footer-text {
    color: #828282;
}